@model IEnumerable<RicardoLourencoWebStore.Data.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-default" asp-action="Create">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a class="btn btn-default" asp-action="Index" asp-controller="Products" asp-route-id="@item.Id">Products in this category</a>
            </td>
        </tr>
}
    </tbody>
</table>
